*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat"
}

@import "./helpers/variables";
@import "./helpers/mixins";

@import "./Pages/home/navbar";
@import "./Pages/home/send";