nav {
    padding: 40px;

    .clear {
        clear: both;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
        a {
            text-decoration: none;
            color: #1b1b1b;
            text-transform: uppercase;
            font-size: 13px;
        }
        .dropdown{
            display: inline-block;
        }
    }
}